@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
body {
	background-color: #336699;
}

h1 {color: white;
font-family: 'Source Sans Pro', sans-serif;
font-size: 24pt;
font-weight: 600pt;
letter-spacing: 4pt;
text-align: center;}

p {color: white;
	font-family: 'Source Sans Pro', sans-serif;
font-size: 18pt;
font-weight: 400pt;
text-align: center;
line-height: 14pt;
font-style: italic;
}

ul {text-align: center;
	list-style-type: none;
	color: white;
font-family: 'Merriweather', serif;
font-size: 12pt
}

.top-head-video {
    display:block;
    width:40%;
    height:center;
    position:center;
    padding:center;
    top:80%;
    transform:translateY(0%);
    pointer-events: none;
}

header {
    background-color: #ffed74
}

div, section {
    background-color: #FFE2B8
}

footer {
    background-color: #FF957E
}

article {
    background-color: #E89C6C
}
