body {
	background-color: #336699;
}

h1 {color: white;
font-family: verdana, sans-serif;
font-size: 20pt;
text-align: center;}

p {color: white;
	font-family: verdana, sans-serif;
font-size: 18pt;
text-align: center;
font-style: italic;
}

ul {text-align: center;
	list-style-type: none;
	color: white;
font-family: verdana, sans-serif;
font-size: 14pt
}